<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-sm-offset-4 padding-right">

        <div class="signup-form"><!--sign up form-->
          <h2>Вход в аккаунт</h2>
          <% if(typeof error !== 'undefined') { %>
            <p style="color: red;"><b>* <%= error %></b></p>
          <% } %>
          <form action="/user/login" method="post">
            <p>Email</p>
            <input type="email" name="email" placeholder="" value="" required>
            <p>Пароль</p>
            <input type="password" name="password" placeholder="" value="" required>
            <br><br>
            <input type="submit" name="submit" class="btn btn-default checkout" value="Вход"/>
          </form><br>
          <h5>Еще нет аккаунта?&nbsp;&nbsp;<a href="/user/register">Регистрация</a></h5>
        </div><!--/sign up form-->
        <br/>
        <br/>
      </div>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>
