<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">
      <br>
      <h4>Добрый день, <%= user.name %>!</h4>
      <p>Вам доступны такие возможности:</p>
      <br>
      <ul>
        <li><a href="/cabinet/user/update">Редактирование данных</a></li>
        <li><a href="/cabinet/orders">Просмотр заказов</a></li>
      </ul>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>
