<%- include ('../layouts/header.ejs') %>

	<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="404">
            <p class="fig"><img src="/images/home/404.png" alt="not_found"></p>
          </div>
        </div>
      </div>
    </div>

	</section>

<%- include ('../layouts/footer.ejs') %>
